/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 770px) {
  h2 {
    margin: 0;
  }
  .projectCard {
    margin: 0 auto;
    margin-top: 30px;
    display: block;
  }
  .projectShowcase {
    display: block !important;
  }
}

@media only screen and (min-width: 737px) {
}

@media only screen and (min-width: 771px) {
  .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projectShowcaseCards {
      display: flex;
      justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
  
}

:root {
    --dark-pink: #AD1457;
}

.navigationSlider .slidingNav ul {
  background: #AD1457;
}

.fixedHeaderContainer {
  background-color: var(--dark-pink);
}

.mainContainer.indexContainer {
  padding: 0px;
}

.introductionBody {
  background: #FCE4EC;
}

.introduction {
  margin: 0px auto;
  max-width: 1400px;
  padding: 10px 10px 60px 10px;
}

.introductionText {
  flex-grow: 2;
  align-self: flex-start;
}

.introductionTextBody {
  font-size: 20px;
  padding-right: 30px;
}

.imageContainer {
  text-align: center;
  margin-top: 30px;
}

body {
  background: #FCE4EC;
}

.homeContainer {
  background-image: url("../img/korea2.jpg");
  background-size: cover;
  text-align: left;
}

.projectTitle {
  font-size: 500%;
  color: white;
  line-height: initial;
  text-shadow: 2px 2px 2px #000000;
}

.projectSubtitle {
  font-size: 30%;
  display: flex;
  flex-direction: column;
}

.navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover, .navigationSlider
.slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background-color: transparent;
}

.homeContainer .homeWrapper {
    padding: 5em 10px;
}

a, .toc .toggleNav ul li.navListItemActive a, .toc .toggleNav ul li a:hover, .toc .toggleNav ul li a:focus {
  color: #ad1457;
}
a:hover {
  color: #f1b6d0;
}

.button {
  border: 1px solid #c02c6d;
  color: #c02c6d;
}

.button:hover {
  background: #c02c6d;
}

.projectShowcase {
  background: #F8BBD0;
  display: flex;
  justify-content: space-around;
}

.projectShowcaseBody {
  margin: 0px auto;
  max-width: 1400px;
  padding: 10px 10px 60px 10px;
}

.pageCard {
  width: 100%;
  height: 400px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageCardTitle {
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 2px 2px 2px #000000;
}

.projectCard {
    color: #363636;
    -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 300px;
    height: 300px;
    background: white;
    position: relative;
    cursor: pointer;
    -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
    -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
    -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
    transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.projectCard:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 20px 0px;
}

.projectCardImage {
    height: 300px;
    width: 300px;
}

.projectCardInfo {
  position: absolute;
  bottom: 0;
  background: #0000008c;
  padding: 20px;
  width: 100%;
}

.projectCardTitle {
  color: #ffffff;
  font-weight: 600;
}
